@import url(file_2.css);

Book, name{
	display: block;
	margin-top:12pt;
	font-size:15pt;
	font-family: serif;
	border: 2px;
	border-style: dotted;
	border-color: black;
	text-align: center;
	background-color: yellow
}
name{
	color:red
}
name:first-letter{
	font-weight: bold;
	font-size: 20pt;
}